@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(249, 249, 249);
    margin: 3px 30px;
    font-family: 'Silkscreen', cursive;
}

header {
    display: flex;
    text-decoration:overline;
    padding: 20px;
    border-radius: 5px;
    border-bottom: 7px dashed #e90c0c;
    border-left: 7px dashed #e90c0c;
    border-top: 9px dotted #039cd8;
    border-right: 9px dotted #039cd8;
}
header img{
    height:40px;
    margin-right:20px;
    
}
.main {
    display: flex;
    justify-content: flex-start;
}

.container1 {
    width: 820px;
}

.container1 img {
    width: 820px;
    height: 652px;
}

.container2 {
    color: rgb(3, 156, 216);
    height: 600px;

}

.container2 p {
    font-size: 20px;
    margin-top: 20px;
}

textarea {
    margin: 15px;
    height: 170px;
    width: 610px;
    margin-left: 20px;
    border-radius: 13px;
    padding: 10px;
    border: 3px solid #e90c0c;
    box-shadow: 10px 10px 5px rgba(255, 0, 0, 0.305);
    font-family: 'Silkscreen', cursive;
    font-size: 17px;

}
.input_text{
    color:#e90c0c;
}
.translation {
    font-size: 17px;
    color: rgb(3, 156, 216);
    border: 3px solid rgb(3, 156, 216);
    box-shadow: 10px 10px 5px rgba(3, 156, 216, 0.305);

}

#btnTranslate {
    position: relative;
    padding: 20px;
    color: rgb(249, 249, 249);
    border-radius: 13px;
    font-size: 15px;
    left: 230px;
    background:linear-gradient(to right, #e90c0c , #039cd8);
    box-shadow: 10px 10px 5px #0505054d;
    font-family: 'silkscreen';
}
#btnTranslate:hover{
    letter-spacing: 1px;
    transition: ease-in 0.3s;
}
#btnTranslate:active{
    background:#039cd8;
}
